*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}



.container{
	width: 90%;
	height: 50%;
	margin: auto;
	/*margin-top: 2rem;*/
	display: flex;
	justify-content: center;
	justify-content: space-around;
}

.img{
	width: 40rem;
	height: 20rem;
	/*border: 1px solid black;*/
	background: url(../images/homepage.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.text{
	padding: 2rem;
	font-size: 2rem;
	width: 70rem;
	height: 30rem;
	/*border: 1px solid black;*/
}


