*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container{
	width: 50%;
	min-height: 24rem;
	border: 1px solid #1B9CFC;
	margin: auto;
	margin-top: 1rem;
	background-color: #55E6C1;
	border-radius: 1rem; 
}

.loginTitle{
	text-align: center;
	font-size: 4rem;
	margin-top: 1rem;
	font-weight: bold;
	/*border: 1px solid black;*/
}

.hospitalLogin, .receiverLogin{
	width: 20rem;
	height: 5rem;
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	text-align: center;
	padding: 1rem;
	font-size: 2rem;
	border: 5px solid #FFC312;
	border-radius: 2rem;
	background-color: #EE5A24;
}